/* .Row_Main {
  margin-top: 1%;
}

.Center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Color_Fading {
  color: rgba(255, 255, 255, 0);
}

.Icon_Size {
  font-size: 20px;
}

.Btn_Search {
  background-color: #0D92F4;
  border-color: #0D92F4;
  width: 50%;
  font-size: 16px;
}

.Btn_Cancel {
  background-color: #fabc3f;
  border-color: #fabc3f;
  width: 50%;
  font-size: 16px;
}

.Btn_Export {
  background-color: #399918;
  border-color: #399918;
  width: 50%;
  font-size: 16px;
}

.tabledata .ant-table-thead > tr > th {
  background-color: #71949e;
  color: white;
}

.tabledata .ant-table-tbody > tr > td {
  font-family: "Montserrat", sans-serif;
}

.FontStyle {
  font-family: "Montserrat", sans-serif;
}

.CardStyleIn .ant-card-body {
  padding: 2px !important; 
  padding-right: 0 !important;
  padding-left: 6px !important; 
  padding-top: 2px !important;
  padding-bottom: 6px !important;
  background-color: #C9E9D2;
  border-radius: 5px !important;
}

.CardStyle .ant-card-body {
  padding: 2px !important; 
  padding-right: 0 !important;
  padding-left: 6px !important; 
  padding-top: 2px !important;
  padding-bottom: 6px !important;
  background-color: #FFF8F3 !important;

}
.CardStyleOut .ant-card-body {
  padding: 2px !important; 
  padding-right: 0 !important;
  padding-left: 6px !important; 
  padding-top: 2px !important;
  padding-bottom: 6px !important;
  background-color: #FCC8D1;
  border-radius: 5px !important;
} */




.Row_Main {
  margin-top: 1%;
}

.Center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Color_Fading {
  color: rgba(255, 255, 255, 0);
}

.Icon_Size {
  font-size: 20px;
}

.Btn_Search {
  background-color: #1640D6;
  border-color: #1640D6;
  width: 100%;
  font-size: 16px;
  
}

.Btn_Cancel {
  background-color: #DF2E38;
  border-color: #DF2E38;
  width: 100%;
  font-size: 16px;
}

.Btn_Export {
  background-color: #399918;
  border-color: #399918;
  width: 100%;
  font-size: 16px;
}

.tabledata .ant-table-thead > tr > th {
  background-color: #71949e;
  color: white;
}

.tabledata .ant-table-tbody > tr > td {
  font-family: "Montserrat", sans-serif;
}

.ColStyle {
  display: flex;
  align-items: center;
}

.ColStyleBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.FontStyle {
  font-family: "Montserrat", sans-serif;
  text-align: end;
  width: 100%;
  padding-right: 10px;
}

.CardStyleIn .ant-card-body {
  padding: 2px !important; 
  padding-right: 0 !important;
  padding-left: 6px !important; 
  padding-top: 2px !important;
  padding-bottom: 6px !important;
  background-color: #C9E9D2;
  border-radius: 5px !important;
}

.CardStyle .ant-card-body {
  padding: 2px !important; 
  padding-right: 0 !important;
  padding-left: 6px !important; 
  padding-top: 2px !important;
  padding-bottom: 6px !important;
  background-color: #FFF8F3 !important;

}
.CardStyleOut .ant-card-body {
  padding: 2px !important; 
  padding-right: 0 !important;
  padding-left: 6px !important; 
  padding-top: 2px !important;
  padding-bottom: 6px !important;
  background-color: #FCC8D1;
  border-radius: 5px !important;
}



/* styles.css */
.desktop-view {
  display: none;
}

.tablet-view {
  display: none;
}

/* Desktop */
@media screen and (min-width: 992px) {
  .desktop-view {
    display: block;
  }
  .tablet-view {
    display: none;
  }
}

/* Tablet */
@media screen and (max-width: 991px) {
  .desktop-view {
    display: none;
  }
  .tablet-view {
    display: block;
  }
}

