.TBInv .ant-table-thead > tr > th {
  background-color: #ba9483;
  color: white;
  padding: 0;
  height: 35px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  text-align: center;
}

.TBInv .ant-table-tbody > tr > td {
  font-family: "Varela Round", sans-serif;
  font-size: 13px;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.TitleInv_h2 {
  background-color: #7e6947;
  border-radius: 25px;
  color: #ffffff;
  padding: 2px 5px 2px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* margin-left: 15px; */
  width: 20%;
  font-size: 14px;
}
.TitleInv_h2_v2 {
  background-color: #7e6947;
  border-radius: 25px;
  color: #ffffff;
  padding: 2px 5px 2px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* margin-left: 15px; */
  width: 20%;
  font-size: 14px;
}

.TableNewInv {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.TBInv1 .ant-table-thead > tr > th {
  background-color: #c89363;
  color: white;
  padding: 0;
  height: 35px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  text-align: center;
}

.TBInv1 .ant-table-tbody > tr > td {
  font-family: "Varela Round", sans-serif;
  font-size: 13px;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}
.scrollable-columnInv {
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}
.TitleNew_h3 {
  background-color: #ca965c;
  border-radius: 25px;
  color: #ffffff;
  padding: 2px 5px 2px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-left: 15px;
  width: 15%;
}

.custom-summary-cell {
  font-family: "Varela Round", sans-serif;
  padding: 0 !important; /* บังคับให้ padding เป็น 0 */
  font-size: 14px; /* ตัวอย่างการปรับขนาดฟอนต์ */
}

.ant-table-summary .custom-summary-cell {
  padding: 2px 5px 2px 5px !important; 
  
}