.ContentAPP{
min-height: 100vh;
font-family:Varela Round, sans-serif ;
margin: 0px 16px 0 !important;
overflow:initial ;

}

.TitlePage_h2 {
    background-color: #CA965C;
    border-radius: 25px;
    color: #ffffff;
    padding: 10px 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Header{
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 1000;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 16px;
background: #705C53;    
}

.TitleHeader{
    display: flex;
    align-items: center;
    margin-left: 0px;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    font-family: Varela Round, sans-serif ;
}